.messages {
  font-size: 20px;
  border: 1px rgb(186, 186, 186) solid;
  padding: 2px;
  height: 30px;
  
}

.message-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  margin-bottom: 20px;

}

.or-text {
  font-size: 20px;
  background-color: #EAA239;
  color: #ffff;
  padding: 2px;
  border-radius: 5px;
  width: 100px;
  text-align: center;

}

.edit-box {
  display: flex;
  margin: 5px 0 0px 70%;
}

.line {
  width: 70%;
  border: 1px rgb(242, 197, 112) solid;
  padding: 10px;
  margin: 0 auto;
}

.title2 {
  display: flex;
  justify-content: space-between;
  font-size: large;
  margin: 5px 0;
  height: 30px;
}

.title2 label {
  background-color: #EAA239;
  color: #ffff;
  padding: 2px;
  border-radius: 5px;
  width: 120px;
  text-align: center;
}